header{
    width: 100vw;
    height: 10vh;
    background-color: #D93636;
}

main{
    width: 70vw;
    margin: auto;
    padding: 20px;
}

main h1{
    margin-bottom: 10px;
}

main p{
    margin-bottom: 5px;
}


footer{
    width: 100vw;
    height: 10vh;
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.6)), url(../img/never_stop.jpg);
}

@keyframes fromTop{
    0%{
        
        transform: translateY(0px);
    }

    100%{
        transform: translateY(1000px);
    }
}