footer{
    background-image: linear-gradient(black, rgba(0, 0, 0, 0.6)), url(../img/never_stop.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    height: 10vh;
}

footer p{
    color: aliceblue;
    text-align: center;
    line-height: 10vh;
    font-size: 20px;
}