.skills {
    height: 80vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
  
  .skill {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    width: 50%;
    height: 50%;
  }
  
  .cardfull {
    width: 99px;
    height: 100px;
    margin: 0 10px;
    background: #FF9933;
    position: relative;
    border-radius: 10px;
  }
  
  .cardfull p {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
  }
  
  .cardfull img {
    border-radius: 10px;
    width: 100%;
    height: 100%;
    transition: all 0.5s linear;
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 0% 100%);
  }
  
  .cardfull img:hover {
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
            clip-path: polygon(0 0, 100% 0, 100% 100%, 100% 0);
  }